@import "../styles/base/variable";
@import "../styles/animation/bounce";
@import "../styles/component/_btnCustom";

.about-component {
  #container_about {
    padding: 0 2.5rem;
    @media only screen and (max-width: 639px) {
        padding: 0 1.5rem;
    }
    .headline {
      @include flex-center;
      flex-direction: column;
      > .title-headline {
        @include text-head($purple-code, 1rem, 700);
      }
      > .sub-headline {
        -webkit-background-clip: text;
        background-clip: text;
        line-height: 5.5rem;
        @include text-head(auto, 4rem, 700);
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right, $purple-code, $indigo-code, #9595bb);
        @media only screen and (max-width: 540px) {
          font-size: 9vw;
          line-height: 13vw;
        }
      }
    }
    .card-about {
      @include flex-center;
    }
  }
}
