.form-control {
    .form-input {
        &:invalid[focus="true"] {
            border: 1px solid red;
        }
        &:invalid[focus="true"] ~ .error-message{
            display: block;
        }
    }
    > h3 {
        margin-top: 8rem;
    }
    .error-message {
        display: none;
    }
}