@import "../../base/_variable.scss";
@import "../../component/_btnCustom.scss";

#nav_noauth_item {
    display: flex;
    align-items: center;

    li {
      &:nth-child(2) {
        button {
          cursor: pointer;
          @include btnCustom;
        }
    }
  }
}