@import "../base/variable.scss";

.dashboard-component {
    #container_dashboard {
        .content-wrapper {
            display: flex;
            .left-content {
                padding: 2rem 0;
                @media only screen and (max-width: 768px) {
                    padding: 0;
                }
                .first-left {
                    > h1 {
                        line-height: 1.5;
                        text-align: center;
                        @include text-head($gray-800, 1.25rem, 600);
                    }
                }
                .second-left {
                    .nav-dashboard {
                        details {
                            &[open] {
                                z-index: 1;
                                summary {
    
                                    &::-webkit-details-marker {
                                        display: none;
                                    }

                                    &:before {
                                        top: 0;
                                        left: 0;
                                        content: '';
                                        width: 100vw;
                                        height: 100vh;
                                        display: block;
                                        position: fixed;
                                        background: transparent;
                                    }
                                    &:after {
                                        transform: rotate(-45deg) translate(0%, 0%);
                                    }
                                }
                            }
                            summary {
                                padding: 1rem;
                                cursor: pointer;
                                list-style: none;
                                @include flex-center;
                                justify-content: space-between;
                                background-color: $indigo-two-code;
                                border-bottom: 1px solid $blue-code;

                                &:after {
                                    content: '';
                                    width: .5rem;
                                    height: .5rem;
                                    display: inline-block;
                                    border-bottom-left-radius: 2px;
                                    transform-origin: center center;
                                    border-left: 1px solid currentColor;
                                    border-bottom: 1px solid currentColor;
                                    transition: transform ease-in-out 100ms;
                                    transform: rotate(45deg) translate(50%, 0%);
                                }
                                &:focus {
                                    outline: none;
                                }
                            }
                            > ul {
                                left: 0;
                                margin: 0;
                                width: 100%;
                                position: absolute;
                                box-sizing: border-box;
                                top: calc(100% + .5rem);
                                border-radius: 0 0 5px 5px;
                                padding: 1.25rem 0 1rem 1rem;
                                background: $indigo-two-code;
                                > li {
                                    > a {
                                        display: block;
                                        padding: 1rem 0;
                                        border-bottom: 1px solid #ccc;
                                        &.active-visit {
                                            border-bottom: 0px;
                                            padding-left: 1rem;
                                            border-top-left-radius: 2rem;
                                            border-bottom-left-radius: 2rem;
                                            @include active-visit($gray-100, $indigo-code);
                                        }    
                                    }
                                    margin: 0;
                                    &:first-child {
                                        padding-top: 0;
                                    }
                                    &:last-child {
                                        padding-bottom: 0;
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                        ul {
                            .nav-item-dashboard {
                                @include text-head($gray-600, 1rem, 400);
                                > a {
                                    display: flex;
                                    padding: 0.75rem 1rem;
                                    border-top-left-radius: 2rem;
                                    border-bottom-left-radius: 2rem;
                                    :not([hidden]) ~ :not([hidden]) {
                                        margin-right: calc(0.5rem * 0);
                                        margin-left: calc(0.5rem * calc(1 - 0));
                                    }
                                    @include transition(all, .2s);
                                    &.active-visit {
                                        @include active-visit($gray-100, $indigo-code);
                                    }    
                                    &:hover {
                                        @media only screen and (min-width: 640px) {
                                            @include active-visit($gray-100, $indigo-code);
                                        }
                                        svg {
                                            stroke: $gray-100;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}