@import "../base/variable.scss";
@import "../component/btnCustom.scss";

.questions-component {
    padding: 1.5rem;

    .heading-questions {
        margin-bottom: 1.5rem;
        h1 {
            @include text-head($gray-800, 1.75rem, 700);
        }
    }
    > .questions-create {
        @include btnCustom;
    }
    .card-questions-list {
        .card-questions-wrapper {
            padding: 1rem; 
            border-radius: 10px;
            .card-questions-header {
                a {
                    h2 {
                        @include text-head($gray-800, 1.15rem, 600);
                    }
                    

                }
            }
            > a {button {
                @include btnCustom(.5rem, 1.25rem, .25rem, $blue-code);
            }}
        }
    }
}