@import "../base/variable";
@import "../component/_btnCustom.scss";

#admin_nav_noauth_item {
    display: flex;
    align-items: center;

    li {
      &:nth-child(1) {
        button {
          cursor: pointer;
          @include btnCustom;
        }
    }
  }
}