@mixin ldsEllipsis3() {
    @-webkit-keyframes ldsEllipsis3 {
        0% {
            transform: scale(1);
            }
            100% {
            transform: scale(0);
        }   
    }      
    @keyframes ldsEllipsis3 {
        0% {
            transform: scale(1);
          }
          100% {
            transform: scale(0);
        }   
    }      
}