@mixin ldsEllipsis1() {
    @-webkit-keyframes ldsEllipsis1 {
        0% {
            transform: scale(0);
          }
          100% {
            transform: scale(1);
          }    
    }      
    @keyframes ldsEllipsis1 {
        0% {
            transform: scale(0);
          }
          100% {
            transform: scale(1);
        }    
    }      
}