@import "../base/_variable.scss";

@mixin btnPrim() {
    color: white;
    padding: .5rem 1.25rem;
    border-radius: 0.25rem;
    background-color: $blue-code;
    @include transition(all, .3s);
    
    &:hover {
      transform: translateY(-3px);
    }
}